

//Main Colors
$main-color: #00c49e;
$white: #FFFFFF;
$black: #000000;


//student list
$border-list: #f2f2f2;
$check-radius: #b9c1cf;
$status-user:#8b96af;
$link-user-list: #62698a;
$link-user-list-over:#23527c;